
<<<<<<< HEAD
=======
    
>>>>>>> cdd88656e845130d12f1853cf037d09be5add006
    <div class="card" style="width: 18rem;">

      <img style="width:250px; margin:auto;" src="./imgs/1.jpeg" alt="Home 1" />
      <div class="card-body">
<<<<<<< HEAD
        
        <h5 class="card-title">{{{Listing Price}}}</h5>

=======

        <h5 class="card-title">{{{Listing Price}}}</h5>


>>>>>>> cdd88656e845130d12f1853cf037d09be5add006
        <ul>
            <li>{{{beds}}}</li>|
                        <li>{{{bath}}}</li>|
            <li>{{{lot}}}</li>|
        </ul>
<<<<<<< HEAD
        
        <p>{{{address}}}</p>

        <a href="#" class="btn btn-primary">{{{link to full listing}}}</a>
=======

        <p>{{{address}}}</p>
>>>>>>> cdd88656e845130d12f1853cf037d09be5add006

      </div>

    </div>
  