
    <div class="card" style="width: 36rem;">

      <img style="width:500px; margin:auto;" src="./imgs/1.jpeg" alt="Home 1" />
      <div class="card-body">

        <h5 class="card-title">{{{Listing Price}}}</h5>


        <ul>
            <li>{{{beds}}}</li>|
                        <li>{{{bath}}}</li>|
            <li>{{{lot}}}</li>|
        </ul>

        <p>{{{address}}}</p>

        <p class="card-text">{{{Some quick example text to build on the listing title
          and make up the bulk of the card's content.}}}</p>

      </div>

    </div>
  